<% if current_user != @event.user %>
  <div class="panel panel-primary">
    <div class="panel-heading">Register to this event</div>

    <div class="panel-body">
      <%= render 'registrations/form' %>
    </div>
  </div>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>

    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Price: <%= @event.price %></p>
    <p><%= @event.capacity %> "Guests" %></p>
    <p> Event including food: <%= @event.includes_food == true ? "Yes" : "No" %></p>
    <p> Event including drinks: <%= @event.includes_drinks == true ? "Yes" : "No" %></p>

    <!-- Time -->
    <h4>Time</h4>
    <ul class="Time">
      <li>Event starts at: <%= Time.at(@event.starts_at - 2.hour).strftime("%B %e, %Y at %I:%M %p") %></li>
      <li>Event ends at: <%= Time.at(@event.ends_at - 2.hour).strftime("%B %e, %Y at %I:%M %p") %></li>
    </ul>

    <h4>Themes</h4>
    <% @themes.each do |theme| %>
      <span class="label label-success"><%= theme.name %></span>
    <% end %>

    <h4>Photos</h4>
    <% @event.photos.each do |photo| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= image_tag photo.image.thumbnail %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
<%= link_to "Edit", edit_event_path, class: "btn btn-default" %>
