<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>

    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Price: <%= @event.price %></p>
    <p><%= @event.capacity %> <%= @event.capacity > 1 ? "Guests" : "Guest" %></p>
    <p> Event including food: <%= @event.includes_food == true ? "Yes" : "No" %></p>
    <p> Event including drinks: <%= @event.includes_drinks == true ? "Yes" : "No" %></p>

    <!-- Time -->
    <h4>Time</h4>
    <ul class="Time">
      <li>Event starts at: <%= @event.starts_at %></li>
      <li>Event ends at: <%= @event.ends_at %></li>
    </ul>

  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
<%= link_to "Edit", edit_event_path, class: "btn btn-default" %>
